version: '3.8'

services:
  app:
    image: demo-service:latest
    container_name: my-spring-app
    ports:
      - "4325:4325"
    environment:
      - SPRING_PROFILES_ACTIVE=prod
    restart: unless-stopped
